// Alleen voor adminbar fixes
body.admin-bar {
  padding-top: 32px;
  // header#navigation{
  //   top:32px;
  // }

  @include media-breakpoint-down(sm) {
    padding-top: 46px;

    #main-menu {
      top: 46px !important;
    }

    #wpadminbar {
      position: fixed;
      top: 0;
    }
    // header#navigation{
    //   top:46px;
    // }
  }
}
