body.home {
  header#navigation {
    visibility: hidden;
    opacity: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
  }
}
