body.search {
  section.results {
    margin-bottom: 50px;
  }

  section.post {
    margin-bottom: 30px;
  }

  // @include media-breakpoint-down(sm) {
  //
  // }
  //
  // @include media-breakpoint-up(md) {
  //
  // }
  //
  // @include media-breakpoint-up(lg) {
  //
  // }
  //
  // @include media-breakpoint-up(xl) {
  //
  // }
}
