%button {
  //@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, 1, $btn-border-radius);
  @include button-variant($color1, $color1);
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-family: $font1;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  line-height: 1;
  white-space: unset;

  a,
  a:hover,
  a:active,
  a:focus {
    color: inherit !important;
    text-decoration: inherit;
  }

  &:focus,
  &:active {
    box-shadow: none;
    outline: 0;
  }

  //@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {

  &.btn-outline {
    @include button-outline-variant($color1, #fff) border: 2px solid;
  }

  &.btn-primary {
    @include button-variant($color1, $color1);

    &.btn-outline {
      @include button-outline-variant($color1, #fff);
    }
  }

  &.btn-secondary {
    @include button-variant($color2, $color2);

    &.btn-outline {
      @include button-outline-variant($color2, #fff);
    }
  }

  &.btn-tertiary {
    @include button-variant($color3, $color3);

    &.btn-outline {
      @include button-outline-variant($color3, #fff);
    }
  }

  &.btn-quartiary {
    @include button-variant($color4, $color4);

    &.btn-outline {
      @include button-outline-variant($color4, #fff);
    }
  }

  &.btn-white {
    @include button-variant(#fff, #fff);

    color: $color1;
    a {
      color: inherit;
    }

    &.btn-outline {
      @include button-outline-variant(#fff, $color1);
    }
  }

  &.btn-lg {
    padding: $btn-padding-y * 1.6 $btn-padding-x * 1.6 ($btn-padding-y * 1.6) ($btn-padding-x * 1.6);
    font-size: $btn-font-size;
    border-radius: $btn-border-radius * 1.3;
  }

  &.btn-xl {
    padding: $btn-padding-y * 2.5 $btn-padding-x * 2.5 ($btn-padding-y * 2.5) ($btn-padding-x * 2.5);
    font-size: $btn-font-size * 1.2;
    border-radius: $btn-border-radius * 1.5;
    border-width: 4px;
  }

  &.full-width {
    width: 100%;
    text-align: center;
  }
}

// button styling
a.button,
a.btn,
button,
.btn,
.button {
  @extend %button;
}
