// form styling

// Contact form 7

// Default forms
form {
  input,
  select,
  textarea,
  button {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #eee;
    padding: $btn-padding-y $btn-padding-x;
    margin: 0;
    border-radius: $btn-border-radius;
  }

  label {
    margin: 1em 0 .6em;
  }
}
