$registered-menus: (
  main-menu: (
    selector: '#main-menu',
    themes: (
      aside-left: (
        min: 0,
        max: map-get($grid-breakpoints, md),
        autohide: map-get($grid-breakpoints, md)
      ),
      plain-horizontal: (
        min: map-get($grid-breakpoints, md)
      )
    )
  )
    //, another menu
    //, another menu
);

@import 'node_modules/advanced-menus/scss/menu';
@include generate-menus();

@import 'menus/aside-left';
@import 'menus/plain-horizontal';

header#navigation {
  .toggle-mainmenu-button {
    background: transparent;
    font-size: 25px;
    border: 0;
    color: $body-color;
    margin: 0;
    padding: 12px 0 12px 15px;
  }

  .toggle-mainmenu-button .close-button {
    display: none;
  }

  .toggle-mainmenu-button .open-button {
    display: block;
  }
}

.menu-main-menu-active header#navigation {
  .toggle-mainmenu-button .close-button {
    display: block;
  }

  .toggle-mainmenu-button .open-button {
    display: none;
  }
}
