* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include default-content-styles();

.powered-by {
  display: none !important;
}
.sow-icon-fontawesome {
  margin-left: 7px;
  margin-right: -7px;
}
