@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Open+Sans:400,400i,600,600i,700,700i");

$themename: "webpack-core";

$enable-shadows: false;

$font1: "Montserrat", sans-serif;
$font2: "Open Sans", sans-serif;
$font3: $font1;
$font4: $font1;

$color1: #22365d;
$color2: #f8b737;
$color3: #008000;
$color4: #333;
$color5: #333;

// Body
$body-bg: #fff;
$body-color: #28292f;

// Body
$body-bg: #fff;
$body-color: $color4;

// $brand-colors: $color1, $color2, $color3, $color4, $color5;

// Brands
$brand-primary: $color1;
$brand-info: #1e4da1;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: $font1;
$line-height-base: 2;
$base-line-height: $line-height-base;
$text-color: #4a4a4a;
$base-font-weight: 400;

// Links
$link-color: $body-color;
$link-decoration: none;
$link-hover-color: darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;

// Navbar
$navbar-default-bg: #fff;

// Buttons
// $btn-default-color: $text-color;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-border-radius: 50px;
$btn-font-size: 1rem;
$btn-font-weight: 700;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: $text-color;
$input-btn-border-width: 1px;

$tablet-width: 900px;
$max-page-width: "";

$grid-gutter-width: 30px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 920px,
  xl: 1280px
);

$font-size-base: 0.875rem; // Assumes the browser default, typically `16px` 0.1 == 2px
// $base-font-size: $font-size-base;
$font-size-lg: $font-size-base;
$font-size-sm: $font-size-base;
$font-size-xs: $font-size-base;
$paragraph-margin-bottom: 1.5em;

// Headings
$color-h1: inherit;
$color-h2: inherit;
$color-h3: inherit;
$color-h4: inherit;
$color-h5: inherit;
$color-h6: inherit;

$font-size-h1: 3.5em;
$font-size-h2: 2.5em;
$font-size-h3: 2em;
$font-size-h4: 1.66em;
$font-size-h5: 1.33em;
$font-size-h6: 1.2em;

$font-family-h1: $font1;
$font-family-h2: $font1;
$font-family-h3: $font1;
$font-family-h4: $font1;
$font-family-h5: $font1;
$font-family-h6: $font1;

$font-weight-h1: 300;
$font-weight-h2: 300;
$font-weight-h3: 300;
$font-weight-h4: 300;
$font-weight-h5: 300;
$font-weight-h6: 300;

$container-fluid-max-width: map-get($container-max-widths, xl);
$container-x-spacing: 25px;
$container-y-spacing: 100px;

$imgbase: "/wp-content/themes/#{$themename}/assets/images/";
