$navigation-primary: #fff;
$navigation-primary-color: #333;

$navigation-secondary: #fff;
$navigation-secondary-color: #000;

body:not(.home) {
  padding-top: 61px;
}

header#navigation {
  display: block;
  position: absolute;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid #eee;
  background: $navigation-primary;
  z-index: 4001;
  top: 0;
  transition: 0.3s transform;
  transition-delay: 1;
  transform: translateY(-200%);
  top: 122px;
  left: 0;
  right: 0;

  &.fixed {
    top: 0;
    position: fixed;
    transform: translateY(0%);
    opacity: 1 !important;
    visibility: visible !important;
  }

  #logo {
    padding: 12px 15px 12px 0;
    img {
      max-width: 150px;
    }
  }

  @include media-breakpoint-down(sm) {
  }
}

@include media-breakpoint-down(sm) {
}
