@mixin default-content-styles() {
  body {
    //font-size: 1rem;

    @include media-breakpoint-down(md) {
      font-size: 0.75rem;
    }

    @include media-breakpoint-down(sm) {
      p {
        font-size: 0.825rem;
      }

      h1,
      .h1 {
        font-size: 9vw;
      }

      h2,
      .h2 {
        font-size: 7vw;
      }

      h3,
      .h3 {
        font-size: 5.5vw;
      }

      h4,
      .h4 {
        font-size: 4.5vw;
      }

      h5,
      .h5 {
        font-size: 4.5vw;
        line-height: 1.5em;
      }
    }

    // @include media-breakpoint-up(xl) {
    //   font-size: 1.2rem;
    //   p {
    //     font-size: 1rem;
    //   }
    // }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.66;
    margin: 1em 0 0.5em 0;
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: 0.2em;
    }

    strong {
      font-weight: 500;
    }
  }

  h5,
  h6 {
    + p {
      margin-bottom: 15px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  table,
  .btn,
  .button,
  button,
  blockquote,
  img {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img,
  figure {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  h1,
  .h1 {
    color: $color-h1;
    font-family: $font-family-h1;
    font-weight: $font-weight-h1;
    font-size: $font-size-h1;
    margin: 1em 0 0.5em 0;
    line-height: 1.2em;
  }

  h2,
  .h2 {
    color: $color-h2;
    font-family: $font-family-h2;
    font-weight: $font-weight-h2;
    font-size: $font-size-h2;
    margin: 1em 0 0.5em 0;
    line-height: 1.2;
  }

  h3,
  .h3 {
    color: $color-h3;
    font-family: $font-family-h3;
    font-weight: $font-weight-h3;
    font-size: $font-size-h3;
    line-height: 1.2;
  }

  h4,
  .h4 {
    color: $color-h4;
    font-family: $font-family-h4;
    font-weight: $font-weight-h4;
    font-size: $font-size-h4;
    line-height: 1.33;
  }

  h5,
  .h5 {
    color: $color-h5;
    font-family: $font-family-h5;
    font-weight: $font-weight-h5;
    font-size: $font-size-h5;
    line-height: 1.66;
  }

  h6,
  .h6 {
    color: $color-h6;
    font-family: $font-family-h6;
    font-weight: $font-weight-h6;
    font-size: $font-size-h6;
    line-height: 1.66;
  }

  a {
    color: $color1;

    &:hover {
      text-decoration: underline;
      color: $color1;
    }
  }

  blockquote {
    font-style: italic;
    margin: 40px 0;
    padding: $container-x-spacing $container-y-spacing;
    position: relative;
    color: $color1;
    background: #f6f6f6;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
    box-sizing: border-box;
  }

  mark {
    background: lighten($color1, 50%);
  }

  .uppercase {
    text-transform: uppercase;
  }
}
