@include menu-breakpoint("main-menu", "aside-left") {
  nav#main-menu {
    width: 235px;
    background: $color1;
    border: 1px solid darken($color1, 10%);
    padding-bottom: 75px;
    height: calc(100vh + 75px);

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    li.btn {
      padding: 0;
      background: #fff;
      color: $color1;
      margin: 10px auto;

      a {
        border: none;
      }
    }

    li:not(.btn) {
      width: 100%;
      a {
        padding: 0.8em 1em;
        font-size: 0.9em;
        border-bottom: 1px solid darken($color1, 5%);
        color: #fff;
      }

      .handle {
        width: 50px;
        height: 50px;

        &::after {
          border-color: #fff;
        }
      }
    }

    li ul {
      background: darken($color1, 5%);

      li:not(.btn) a {
        border-color: darken($color1, 10%);
      }
    }

    li ul li ul {
      background: darken($color1, 8%);

      li:not(.btn) a {
        border-color: darken($color1, 12%);
      }
    }
  }

  .am-menu-active {
    overflow: hidden;
  }
}
