.panel-grid.panel-has-style > .panel-row-style,
.panel-grid.panel-no-style {
  @include make-row();
}
//
// .row.panel-has-style {
//   margin-left: inherit;
//   margin-right: inherit;
//   display: inherit;
// }

.col {
  display: flex;
}
.col > .inner {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.panel-grid .col {
  //margin-bottom: 20px;
}

.widget + .widget {
  margin-top: 20px;
}

@include media-breakpoint-down(sm) {
  .row {
    justify-content: center !important;
  }
  .col {
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.col-6:nth-child(2) {
      margin-top: 0;
    }
  }
}
